### Exceptions

In [1]:
5/0

ZeroDivisionError: division by zero

In [2]:
try:
    5/0
except:
    print("Not accept to david by zero")

Not accept to david by zero

In [3]:
try:
    x = 10
    y = int(input())
    x / y
except:
    print("Division by zero")

Division by zero

#### Display exception message

In [1]:
try:
    x = 10
    y = int(input())
    x / y
except:
    print("Division by zero")
else:
    print("shokrannnnnn")
finally:
    print("Done")

Division by zero
Done

### Modules

In [ ]:
import random

n = random.random() # between 0 and 1

n

0.8654687929376842

In [ ]:
random.randint(1 , 10) # get random value between 1 and 10

4

In [ ]:
lst = ["ahmed" , " Ali" , "Omar" , 1 , 3 , 5]
random.choice(lst) # choose one element randomly

' Ali'

In [ ]:
lst = ["ahmed" , " Ali" , "Omar" , 1 , 3 , 5]
random.choices(lst , k=4) # choose many elements randomly

[5, 'ahmed', 1, 'Omar']

### File Handling

In [10]:
import os

In [17]:
base = r"C:/Users/aldawliahasbat/OneDrive - Faculty Of Engineering (Kafr Elsheikh University)/Desktop/Depi_AIS2_G3_ml-1/Depi_AIS2_G3_ml/src/python-for-ml/Session3/Code"
type(base)

str

In [18]:
file = os.listdir(base)

In [19]:
file

['basics3.ipynb']

In [ ]:
os.remove(base +"/rem.txt")

In [22]:
directory = "./temp_directory_test_again"

if not os.path.exists(directory):
    os.makedirs(directory)
else:
    print("direction already exist: " , directory)

In [23]:
path = "tmp_directory"

if not os.path.exists(path):
    os.makedirs(path)
for i in range(20):
    inner_path = os.path.join(path , "dir_" + str(i))
    if not os.path.exists(inner_path):
        os.makedirs(inner_path)

### File Handling

In [27]:
with open("./tmp_directory/text_1.txt","a+") as file:
    file.write("New line added\n")
    file.seek(0)
    updated_content = file.read()
    print(updated_content)

New line added

### Functions

In [ ]:
def std_inf0(name: str , age: int): 
    """
    this function take student information like name and age 
    
    param_1 : take user name from user
    type param_1 : str
    
    param_2 : take age from user
    type param_2 : int
    
    return : print student information for the name and age 
    type return : str , int
    
    """
    return f"my name is {name }, and my age is {age}."

In [33]:
def std_inf0(name = "test" , age = 40): # default argument must be in the last 
    """
    this function take student information like name and age 
    
    param_1 : take user name from user
    type param_1 : str
    
    param_2 : take age from user
    type param_2 : int
    
    return : print student information for the name and age 
    type return : str , int
    
    """
    return f"my name is {name }, and my age is {age}."

In [34]:
x = std_inf0()
x

'my name is test, and my age is 40.'

In [1]:
from std import std_info

ModuleNotFoundError: No module named 'std'

In [6]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error: Division by zero"
    return a / b

In [ ]:
def calculator(x,y, opr ):
  """
  This function works as a caculator to add , divide , substract , multiply 2 numbers from user
  
  param_1 : The first number from user
  type param_1 : int
  
  param_2 : The second number from user
  type param_2 : int 
  
  param_3 : THe operation user want
  type param_3 : str
  
  return : return the result of operation he want
  type return : float
  
  """  
  if opr == "+":
    return add(x, y)
  elif opr == "-":
    return subtract(x, y)
  elif opr == "*":
    return multiply(x, y)
  elif opr == "/":
    return divide(x, y)
  else:
    return "Invalid operation"

In [8]:
x = int(input("Enter the first num: "))
y = int(input("Enter the second num : "))
opr = input("Enter the operation you want")
result = calculator(x,y,opr)
result

5.0

In [10]:
def sum(num_1, num_2):
    
    return num_1 + num_2

def sub(num_1, num_2):
    
    return num_1 - num_2
def div(num_1, num_2):
    
    return num_1 / num_2
def multply(num_1, num_2):
    
    return num_1 * num_2

def main():
    print("---------calc------")
    print("choose operations")
    print("1-sum")
    print("2-sub")
    print("3-div")
    print("4-mul")
    
    choice = input("Enter the operation")
    num_1 = float(input("Enter first numb"))
    num_2 = float(input("Enter second numb"))
    
    if choice == "1":
        result = sum(num_1, num_2)
    elif choice == "2":
        result = sub(num_1, num_2)
        
    elif choice == "3":
        result = div(num_1, num_2)
        
    elif choice == "4":
        result = multply(num_1, num_2)
    else:
        print("invalid choice")
        return
    print("Result: ", result)


if __name__ == "__main__":
    main()

---------calc------
choose operations
1-sum
2-sub
3-div
4-mul
invalid choice

In [11]:
def func_1(*name):
    print(name)
    print(type(name))

In [12]:
func_1("Depi","ML","DS",[1,2,3,4])

('Depi', 'ML', 'DS', [1, 2, 3, 4])
<class 'tuple'>

In [16]:
def func_2(**name):
    print(name)
    print(type(name))

In [19]:
func_2(key1 = 12.5 , key2 = 20 , key3 = "depi")

{'key1': 12.5, 'key2': 20, 'key3': 'depi'}
<class 'dict'>

In [23]:
print(lambda x : x + 10)

<function <lambda> at 0x000001DDE3B14E00>

In [20]:
def sum(n1,n2):
    return n1 + n2

In [ ]:
print(sum) # memory address

<function sum at 0x000001DDE3B14F40>

In [24]:
print(type(sum))

<class 'function'>

In [25]:
print(type(lambda x : x + 10))

<class 'function'>

In [26]:
result =lambda x : x + 10
result(10)

20

In [27]:
add_nums = lambda num1 , num2 : num1 +num2
print(add_nums(10,20))

30

In [ ]:
s = " hello world"
new_s =

In [31]:
def reverse_words(s : str):
    """
    this function is used to reverse string 
    param_1 : string i want to reverse
    type param_1:str
    return : string reversed
    type return : str
    """
    s = s.split()[::-1]
    new_str = " ".join(s)
    return new_str

In [32]:
s = " hello world"
result = reverse_words(s)
result

'world hello'