#### List Data Type

In [1]:
'''
List Dta Type 
 
1-Data Ordered 
2-Chgangable Data
3-Allow Duplicate Data 
4-Can be nested among all

'''

'\nList Dta Type \n\n1-Data Ordered \n2-Chgangable Data\n3-Allow Duplicate Data \n4-Can be nested among all\n\n'

In [2]:
x = [1,2]
type(x)

list

In [3]:
x = "Randa"  # x should be itterable
list(x) # list for convert any data type to list

['R', 'a', 'n', 'd', 'a']

In [4]:
x = 5,5 # x should be itterable
list(x)

[5, 5]

In [1]:
list_1 = [1,2,3,"depi","learning",True,[1,2,3,"true",["ds","ml","genai"]]]

In [4]:
list_1[4]

'learning'

In [5]:
list_1[6][4][2]

'genai'

In [6]:
list_1[6][4][2] = "Agentic AI"

In [7]:
list_1

[1,
 2,
 3,
 'depi',
 'learning',
 True,
 [1, 2, 3, 'true', ['ds', 'ml', 'Agentic AI']]]

In [8]:
list_one = ["Depi","learning","ml"]
list_one.append("dl")

In [9]:
list_one

['Depi', 'learning', 'ml', 'dl']

In [10]:
list_one.insert(0,"genAI")

In [11]:
list_one

['genAI', 'Depi', 'learning', 'ml', 'dl']

In [12]:
list_1 = [1,2,3]
list_2 = [4,5,6]
list_1 + list_2

[1, 2, 3, 4, 5, 6]

In [13]:
list_1.extend(list_2)

In [14]:
list_1

[1, 2, 3, 4, 5, 6]

In [17]:
list_one = ["Depi","learning","learning","ml"]
list_one.remove("learning")
print(list_one)

['Depi', 'learning', 'ml']

In [19]:
list_one = ["Depi","learning","learning","ml"]
x = list_one.pop()
print(x)

ml

In [20]:
list_one = ["Depi","learning","learning","ml"]
x = list_one.pop(0)
print(x)

Depi

In [21]:
x = 5
del x

In [6]:
list_one = ["DEPI" , "Learning","Learning",'ml']
del list_one[0]
print(list_one)

['Learning', 'Learning', 'ml']

In [7]:
list_one = ["DEPI" , "Learning","Learning",'ml']
del list_one[0:2]
print(list_one)

['Learning', 'ml']

In [ ]:
list_3 = [1,2,2,3,4]
list_3.index(2) # return position of the first item (index)

1

In [16]:
list_3 = [1,2,2,3,4]
list_3.count(2)

2

In [ ]:
my_list = [20,10,4,2,50]
my_list.sort() # we can use it in calculating median , q1 and q3

In [18]:
my_list

[2, 4, 10, 20, 50]

In [19]:
my_list = [20,10,4,2,50]
my_list.clear()
my_list

[]

#### Tuple Data Type

In [6]:
''''  
Tuple Data Type

1-Data Ordered
2-Unchangable Data
3-Allow Duplicate Data
4-Can be nested among all

'''

"'  \nTuple Data Type\n\n1-Data Ordered\n2-Unchangable Data\n3-Allow Duplicate Data\n4-Can be nested among all\n\n"

In [ ]:
x = "depi"
tuple(x) # tuple for convert any data type to tuple

('d', 'e', 'p', 'i')

In [20]:
tuple_1 =  (20,10,4,2,50)
tuple_1[0]

20

In [ ]:
tuple_1 =  (20,10,4,2,50)
tuple_1[0] = 50 # immutable

TypeError: 'tuple' object does not support item assignment

In [22]:
tuple_1 =  (20,10,4,2,50)
list(tuple_1)

[20, 10, 4, 2, 50]

In [ ]:
disease = ("Viral" , "bacterial" , "pneumonia")
list(disease) # if we want to change we convert to list

['Viral', 'bacterial', 'pneumonia']

##### add item to tuple or remove we convert it to list first

#### Set Data Type

In [8]:
'''  
Set Data Type

1-Data Unordered # using for probability
2-Unchangable Data
3-Not allow Duplicate Data
4-Can be nested among all

'''

'  \nSet Data Type\n\n1-Data Unordered # using for probability\n2-Unchangable Data\n3-Not allow Duplicate Data\n4-Can be nested among all\n\n'

In [ ]:
x = "depi"
set(x) # set for convert any data type to set

{'d', 'e', 'i', 'p'}

In [27]:
set_1 = {1,2,3}
# set_1 = {1:3} # dictionary
type(set_1)

set

In [28]:
set_1 = {1,2,3}
set_2 = {3,4,5}
set_1.intersection(set_2)

{3}

In [29]:
set_1 = {1,2,3}
set_2 = {3,4,5}
set_1.union(set_2)

{1, 2, 3, 4, 5}

In [30]:
set_1 = {1,2,3}
set_2 = {3,4,5}
set_1.difference(set_2)

{1, 2}

#### Dict Data Type

In [ ]:
'''  
Dict Data Type

1-Data Ordered
2-Data duplicate in value only
3-Changeable Data

'''

In [ ]:
dict_1 = {"key_1":12.5 , "key_2":"depi"}
type(dict_1)

dict

In [ ]:
dict_1["key_1"] = 50 #changeable
dict_1

{'key_1': 50, 'key_2': 'depi'}

In [34]:
items = [("a",1) , ("b",2) , ("c",3)]
dict_new = dict(items)
dict_new

{'a': 1, 'b': 2, 'c': 3}

##### Arthematic Operations

In [35]:
5/2

2.5

In [36]:
5//2

2

In [37]:
5//3

1

In [38]:
5%3

2

#### Comparison Operation

In [41]:
3!=2

True

In [39]:
2==3

False

In [40]:
2<3

True

##### Identity With is and is not

In [44]:
a = 3
b = 4
a is b

False

##### The first App

In [49]:
num_1 = int(input("enter the first number:"))
num_2 = int(input("enter the second number:"))

print(f"addition of num1 and num2 = {num_1 + num_2}")
print(f"substraction of num1 and num2 = {num_1 - num_2}")
print(f"multiplication of num1 and num2 = {num_1 * num_2}")
print(f"division of num1 and num2 = {num_1 / num_2}")

addition of num1 and num2 = 25
substraction of num1 and num2 = 15
multiplication of num1 and num2 = 100
division of num1 and num2 = 4.0

### Common Functions in Python`

In [ ]:
x = input() #shift + enter
print(type(x))

<class 'str'>

In [ ]:
name = input("enter your name")
id = input("enter your id")

print(f"your name is {name},and your id is {id}.") # Formating

your name is Randa Hamada,and your id is 12345.

In [13]:
input_list = ["amit",'python',"learning","machine learning"]
item = input("enter item you want to remove")
input_list.remove(item)

print(f"output list = {input_list}")

output list = ['python', 'learning', 'machine learning']

#### If Condition

In [ ]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [ ]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("b is not greater than a")

In [52]:
x = 5
y = 10

if x > 0 and y > 0:
    print("both x and y are positive numbers.")

both x and y are positive numbers.

In [53]:
x = -1
y = 10

if x > 0 and y > 0:
    print("both x and y are positive numbers.")

In [54]:
x = -5
y = 10

if x > 0 or y > 0:
    print("both x and y are positive numbers.")

both x and y are positive numbers.

In [ ]:
x = 5

result = "Even" if x % 2 == 0 else "Odd" # Short hand if
print(result)

Odd

In [ ]:
a = 10
b = 5

result = a + b if a > b else a - b
print(result)

15

In [61]:
is_sunny = True
temerature = 25

if is_sunny:
    print("It is a sunny day")
    
    if temerature > 20:
        print("The weather is warm")
    else:
        print("The weather is cool")
else:
    print("It is not a sunny day")

It is a sunny day
The weather is warm

In [ ]:
degree = int(input("Enter your degree between (0:100):"))
 
if 0 < degree <= 100:
    if 90 <= degree <= 100: 
        print('A')
    elif 80 <= degree < 90:
        print("B")
    elif 70 <= degree < 80:
        print("C")
    elif 60 <= degree < 70: 
        print("D")
    else:
        print("F")  
else:
    print("this is in correct")

this is in correct

#### For Loop

In [67]:
for i in "DEPI":
    print(i , "ml")
else:
    print("Finished")

D ml
E ml
P ml
I ml
Finished

In [69]:
for i in range(10):
    print(i , "ml")
else:
    print("Finished")

0 ml
1 ml
2 ml
3 ml
4 ml
5 ml
6 ml
7 ml
8 ml
9 ml
Finished

In [71]:
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [73]:
for i in range(6):
    if i == 4:
        break
    print(i)

0
1
2
3

In [74]:
for i in range(5):
    if i == 2:
        pass
    else:
        print(i)

0
1
3
4

In [75]:
if x > 3:
    pass

#### While Loop

In [77]:
x = 6
while x > 0:
    print("python")
    x -= 1

python
python
python
python
python
python