 ## ðŸ“˜Python Assignment â€“ File Operations & Functions
-   Machine Learning Diploma â€“ Python Module
-   Instructor: Eng. George Samuel
-   Week: File Handling & Automation Practice
-  Assignment Type: Coding + Logical Thinking

You Name : Randa Hamada El Nagar

1. Add an item to a tuple

In [ ]:
my_tuple = (1, 2, 3)
item_to_add = 4

# TODO: convert tuple to list, add the item, then convert back to tuple
# your code here

print(new_tuple)

In [ ]:
my_tuple = (1, 2, 3)

x = list(my_tuple) # convert tuple to list

x.append(4) # add the item

new_tuple = tuple(x) # convert back to tuple

print(new_tuple)

(1, 2, 3, 4)

{Hint}: Tuples cannot change. Convert to list â†’ modify â†’ tuple.

2. Sum all the items in a list

In [ ]:
numbers = [5, 10, 15, 20]

# TODO: loop through the list and calculate the total
total = 0
# your code here

print(total)

# Hint: Use a for loop and accumulate values into total.

In [ ]:
numbers = [5, 10, 15, 20]

total = 0

# loop through the list and calculate the total
for i in numbers: 
    total += i


print(total)

50

3. Multiply all items in a list

In [ ]:
numbers = [2, 3, 4]

# TODO: multiply all numbers in the list
result = 1
# your code here

print(result)
# Hint: Start from 1 and multiply one element at a time.

In [ ]:
numbers = [2, 3, 4]

result = 1

# multiply all numbers in the list
for i in numbers:
    result *= i
    
    
print(result)

24

4. Get the smallest number from a list

In [ ]:
numbers = [10, 3, 25, 1, 7]

# TODO: find smallest value manually (without min())
smallest = numbers[0]
# your code here

print(smallest)
# Hint: Replace smallest when you find a smaller value.

In [ ]:
numbers = [10, 3, 25, 1, 7]

smallest = numbers[0]

for i in numbers:
    if smallest > i:
        smallest = i # Replace smallest when you find a smaller value.
        

print(f"The smallest number in the list is {smallest}.")

The smallest numbers in the list is 1.

5. Get the largest number from a list

In [ ]:
numbers = [10, 3, 25, 1, 7]

# TODO: find largest value manually (without max())
largest = numbers[0]
# your code here

print(largest)
# Hint: Same idea as smallest â€” just check for bigger values.

In [11]:
numbers = [10, 3, 25, 1, 7]

largest = numbers[0]

for i in numbers:
    if largest < i:
        largest = i

print(f"The largest number in the list is {largest}.")

The largest number in the list is 25.

6. Count number of strings with length â‰¥ 2

In [ ]:
words = ["hi", "a", "hello", "no", "on"]

# TODO: count strings with length >= 2
count = 0
# your code here

print(count)
# Hint: Use len(word) and a condition.

In [ ]:
words = ["hi", "a", "hello", "no", "on"]

count = 0

# count strings with length >= 2
count = 0
for i in words:
    if len(i) >= 2: 
        count += 1
        
print(f"The numbers of strings with length >= 2 are {count}.")

The numbers of strings with length >= 2 are 4.

7. Clone or copy a list

In [ ]:
original = [1, 2, 3, 4]

# TODO: copy the list (not assignment)
# your code here

print(cloned)
# Hint: Remember: cloned = original is NOT a copy.
# Think of slicing or list().

In [14]:
original = [1, 2, 3, 4]

cloned = original[:]

print(cloned)

[1, 2, 3, 4]

In [16]:
# Another Solution
original = [1, 2, 3, 4]

cloned = list(original)

print(cloned)

[1, 2, 3, 4]

8. Remove item(s) from a set

In [ ]:
my_set = {1, 2, 3, 4, 5}

# TODO: remove an item using remove() or discard()
# your code here

print(my_set)
# Hint: Use remove() or discard().

In [17]:
my_set = {1, 2, 3, 4, 5}

my_set.remove(2)

print(my_set)

{1, 3, 4, 5}

In [18]:
my_set = {1, 2, 3, 4, 5}

my_set.discard(2)

print(my_set)

{1, 3, 4, 5}

9. Check if a set is subset of another

In [ ]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

# TODO: check subset manually or using issubset()
# your code here


# Hint: Use .issubset() or compare elements manually.

In [19]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

set1.issubset(set2)

True

In [21]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
is_subset = True

for i in set1:
    if i not in set2:
        is_subset = False
        break
        
print (f"set_1 is subset of set_2 {is_subset}.")

set_1 is subset of set_2 True.

10. Remove all elements from a set

In [ ]:
my_set = {1, 2, 3}

# TODO: clear the set
# your code here

print(my_set)

# Hint: Sets have a method that makes them empty.

In [22]:
my_set = {1, 2, 3}

my_set.clear()

print(my_set)

set()

11. Find max and min values in a set

In [ ]:
my_set = {10, 3, 25, 1, 7}

# TODO: find max and min manually
# your code here

print("Max:", maximum)
print("Min:", minimum)
# Hint: Convert to a list or loop through items.

In [29]:
my_set = {10, 3, 25, 1, 7}

my_list = list(my_set)

small = my_list[0] 
larg = my_list[0]

for i in my_list:
    if i < small:
        small = i
    elif i > larg:
        larg = i

print("Min:" , small)
print("Max:" , larg)

Min: 1
Max: 25

12. Find the index of an item in a tuple

In [ ]:
my_tuple = (10, 20, 30, 40)

# TODO: find index of a value (e.g. 30)
# your code here

print(index_value)
# Hint: Tuples have a method for this.

In [ ]:
my_tuple = (10, 20, 30, 40)

# find index of value 30
index_value = my_tuple.index(30)

print(index_value)

2

13. Convert a tuple to a dictionary

In [ ]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))

# TODO: convert to dictionary
# your code here

print(my_dict)
# Hint: A dictionary can be built directly from pairs.

In [33]:
my_tuple = (("a", 1), ("b", 2), ("c", 3))

my_dict = dict(my_tuple)

print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

14. Unzip a list of tuples into individual lists

In [ ]:
pairs = [(1, 2), (3, 4), (5, 6)]

# TODO: extract first elements into one list and second elements into another
# your code here

print(list1)
print(list2)
# Hint: You can loop OR use zip(*pairs).

In [ ]:
pairs = [(1, 2), (3, 4), (5, 6)]

list1 , list2 = zip(*pairs)

list1 = list(list1)
list2 = list(list2)

print(list1)
print(list2)

[1, 3, 5]
[2, 4, 6]

In [37]:
pairs = [(1, 2), (3, 4), (5, 6)]
list1 = []
list2 = []

for a , b in pairs:
    list1.append(a)
    list2.append(b)
    
        
print(list1)
print(list2)

[1, 3, 5]
[2, 4, 6]

15. Reverse a tuple

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

# TODO: reverse the tuple
# your code here

print(reversed_tuple)
# Hint: Use slicing.

In [39]:
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]

print(reversed_tuple)

(5, 4, 3, 2, 1)

16. Convert a list of tuples into a dictionary

In [ ]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

# TODO: convert list of tuples into dictionary
# your code here

print(my_dict)
# Hint: dict() can convert list-of-pairs formats.

In [40]:
pairs = [("a", 1), ("b", 2), ("c", 3)]

my_dict = dict(pairs)

print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

17. Replace the last value of each tuple in a list

- Sample list:
- [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- Expected output:
- [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# TODO: replace last value with 100
new_list = []
# your code here

print(new_list)
# Hint: Convert each tuple to list, edit, convert back.

In [45]:
data = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_list  = []

for i in data:
    temp = list(i)
    temp[-1] = 100
    new_list.append(tuple(temp))
    
print(new_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18. Sort a tuple by its float element

In [ ]:
items = (("item1", 10.5), ("item2", 5.7), ("item3", 8.9))

# TODO: sort by the float value
# your code here

print(sorted_items)
# Hint: Use sorted() with a key function.

In [56]:
items = (("item1", 10.5), ("item2", 5.7), ("item3", 8.9))

sorted_items = sorted(items, key=lambda x: x[1])

print(sorted_items)

[('item2', 5.7), ('item3', 8.9), ('item1', 10.5)]

## challenge part

Find the longest word in a list

In [ ]:
words = ["hi", "hello", "fantastic", "world"]

# TODO: find the longest word

print(longest)
# Hint: Track the word with the largest len().

In [58]:
words = ["hi", "hello", "fantastic", "world"]

large = words[0]

for i in words:
    if len(i) > len(large):
        large = i
        
print(f"The logest word is {large}.")

The logest word is fantastic.

Merge two dictionaries

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

# TODO: merge into one dictionary

print(result)
# Hint: Use unpacking or update().

In [60]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

result = {**d1 , **d2}

print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [61]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

result = d1.copy()
result.update(d2)

print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Sum values in a dictionary

In [ ]:
data = {"a": 10, "b": 20, "c": 30}

# TODO: sum all dictionary values

print(total)

solution

In [ ]:
data = {"a": 10, "b": 20, "c": 30}
#for dictionary i have a key and value so you can loop and find what you need (key or values
total = 0
for value in data.values():
    total += value

print(total)

New Challenge

In [ ]:
# TODO: sum all scores
scores = {
    "student1": {"math": 80, "science": 90},
    "student2": {"math": 75, "science": 85},
    "student3": {"math": 92, "science": 88},
}

total = ___      # TODO: start total at 0

for student_data in scores.___():# TODO: loop over values of the dictionary
    for score in student_data.___(): # TODO: loop over inner dictionary values
        total ___ score              # TODO: update the total

print(___)       # TODO: print the result

#hint you will need nested for loop one

In [64]:
scores = {
    "student1": {"math": 80, "science": 90},
    "student2": {"math": 75, "science": 85},
    "student3": {"math": 92, "science": 88},
}

total = 0
for student_data in scores.values():
    for score in student_data.values():
        total += score
        
print(total)

510