In [10]:
x =  4
print("Welcome to DEPI",x)

Welcome to DEPI 4

In [11]:
x =  4
print("Welcome to DEPI",hex(id(x))) # Print ----> Track object or variable

Welcome to DEPI 0x7fff08527408

In [12]:
x = "DEPI" # Every thing in python is object
print(type(x))

<class 'str'>

In [14]:
name = "Randa"
id = "12345"
'''  
for much than one line comment or steps for something

'''
print(name,id)

Randa 12345

### For Formating

In [ ]:
x = 20
y = 30
print("this is x value = ",x,"and y value is = ",y)
print("this is x {} and  y {}".format(x,y))
print("this is x {1} and  y {0}".format(x,y))
print("this is x {1} and  y {0}".format('Randa',y)) # we can use any type of argument
print(f"this is x = {20} and  y = {30}") #common or acceptable using (f"") for formating

this is x value =  20 and y value is =  30
this is x 20 and  y 30
this is x 30 and  y 20
this is x 30 and  y Randa
this is x = 20 and  y = 30

In [26]:
name = "Randa Hamada"
course_name = "AI & DataScience"
id = "12345"
print(f"My name is {name} and my course is {course_name} and my id is {id}")

My name is Randa Hamada and my course is AI & DataScience and my id is 12345

In [ ]:
x = True # Float Data type True , False
print(type(x))

<class 'bool'>

### String Data Type

In [ ]:
name = "Depi R4"
name[-1] # the last char

'4'

In [ ]:
name = "Depi R4"
name[0:4:2] #Slicing with step 2

'Dp'

In [ ]:
name = "welcome into depi r4"
upper_txt = name.upper() # Convert all letters to upper case
print(upper_txt)

WELCOME INTO DEPI R4

In [ ]:
lower_txt = upper_txt.lower() # convert all letters to lower case
print(lower_txt)

welcome into depi r4

In [41]:
name = "welcome into depi r4"
name.replace("r4","r5")

'welcome into depi r5'

In [42]:
name = "welcome into depi r4"
x = "r4"
y = "r5"
name.replace(x,y)

'welcome into depi r5'

In [43]:
name = "welcome into depi r4 r4"
name.replace("r4","r5")

'welcome into depi r5 r5'

In [ ]:
name = "welcome into depi r4"
name.capitalize() # capitalize the first letter only in the sentence or paragraph

'Welcome into depi r4'

In [ ]:
name = "welcome into depi r4"
name.title() # capitalize the first letter in all words in the sentence or paragraph

'Welcome Into Depi R4'

In [ ]:
name = "welcome into depi r4 r4"
name.count("r4") # count how much this appear in the sentence

2

In [ ]:
name = "welcome into depi r4"

''' 
split() 
Method returns list 
We can use it for tokenization in NLP

'''
list_1 = name.split() 
print(type(list_1))

<class 'list'>

In [ ]:
sent = " ".join(list_1) # convert it to sentence again
print(sent)
type(sent)

welcome into depi r4

str

In [ ]:
sent.startswith("welcome")

True

In [55]:
sent.endswith("depi")

False

### Escape Characters

In [56]:
name = "welcome into \n our group"
print(name)

welcome into
 our group

In [57]:
name = "welcome into \t our group"
print(name)

welcome into 	 our group

In [59]:
name = "welcome into\b our group"
print(name)

welcome int our group

In [60]:
name = "welcome into \"our\" group"
print(name)

welcome into "our" group